.striker {
	text-decoration: line-through;
	font-style: italic;
	color: red;
}

#list { 
	max-width: 40%;
};


#list-wrapper {
	position: absolute;
}

li {
	border-radius: 20px;
	cursor: pointer;
}

.glyphicon-tag {
	position: relative;
	top: -15px;
	left: -20px;
	z-index: 1;
}

.glyphicon-remove {
	position: relative;
	left: 10px;
	z-index: 1;
}


